<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ project?.name || 'Cargando...' }} {{projectPercent || ''}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEditProjectModal()">
        <ion-icon name="pencil" color="primary"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteProject()">
        <ion-icon name="trash" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button (click)="showList()" slot="start" color="clear" size="small">
      <ion-icon name="list-sharp" color="primary"></ion-icon>
    </ion-button>
    <ion-button (click)="showKanban()" slot="start" color="clear" size="small" [disabled]="true">
      <ion-icon name="apps-sharp" color="primary"></ion-icon>
    </ion-button>
    <ion-button (click)="showTimeline()" slot="start" color="clear" size="small">
      <ion-icon name="calendar-number-sharp" color="primary"></ion-icon>
    </ion-button>

    <ion-searchbar name="searchTerm" placeholder="Buscar tarea" [(ngModel)]="searchTerm" (ionInput)="filterTasks()"
      ngDefaultControl></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="addEmptyTask()" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar Tarea
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let group of groupedTasks">
    <ion-list>
      <ion-item-divider [color]="getColor(group.priority)" sticky="true" size="small">
        <ion-label>
          <h2>PRIORIDAD {{ getPriorityLabel(group.priority) }}</h2>
        </ion-label>
      </ion-item-divider>
      <app-task-item *ngFor="let task of group.tasks" [task]="task" (taskUpdated)="onTaskUpdated($event)"
        (taskDeleted)="onTaskDeleted($event)" (taskMoved)="onTaskMoved($event)"></app-task-item>
    </ion-list>
  </ng-container>
</ion-content>