<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Información del Usuario -->
  <ion-item>
    <ion-label>Usuario</ion-label>
    <ion-text>{{ user.username }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-text>{{ user.email }}</ion-text>
  </ion-item>

  <!-- Cambiar contraseña -->
  <ion-item>
    <ion-label position="stacked">Cambiar contraseña</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="newPassword"
      placeholder="Nueva contraseña"
    ></ion-input>
    <ion-button expand="block" (click)="updatePassword()">Guardar</ion-button>
  </ion-item>

  <!-- Borrar usuario -->
  <ion-list-header>
    <ion-label>Borrar usuario</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Estoy seguro de lo que hago</ion-label>
    <ion-toggle [(ngModel)]="deleteToggle"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-button
      expand="block"
      color="danger"
      [disabled]="!deleteToggle"
      (click)="deleteUser()"
    >
      Eliminar usuario
    </ion-button>
  </ion-item>
</ion-content>
