<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ project?.name || 'Cargando...' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEditProjectModal()">
        <ion-icon name="pencil" color="primary"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteProject()">
        <ion-icon name="trash" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button (click)="showList()" slot="start" color="clear" size="small">
      <ion-icon name="list-sharp" color="primary"></ion-icon>
    </ion-button>
    <ion-button (click)="showKanban()" slot="start" color="clear" size="small">
      <ion-icon name="apps-sharp" color="primary"></ion-icon>
    </ion-button>
    <ion-button (click)="showTimeline()" slot="start" color="clear" size="small" [disabled]="true">
      <ion-icon name="calendar-number-sharp" color="primary"></ion-icon>
    </ion-button>

    <ion-searchbar name="searchTerm" placeholder="Buscar tarea" [(ngModel)]="searchTerm" (ionInput)="filterTasks()"
      ngDefaultControl></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="addEmptyTask()" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar Tarea
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let task of orderedTasks">
      <ion-item>
        <ion-label>
          <p>
            <strong>Fecha inicio:</strong> {{ task.dini ? (task.dini | date) : 'No definida' }}
            <strong>Fecha fin:</strong> {{ task.dfin ? (task.dfin | date) : 'No definida' }}
            <strong>Días pendientes:</strong> {{ calculatePendingDays(task.dfin || null) }}
          </p>
        </ion-label>
      </ion-item>
      <app-task-item [task]="task" (taskUpdated)="onTaskUpdated($event)" (taskDeleted)="onTaskDeleted($event)">
      </app-task-item>
    </div>

  </ion-list>
</ion-content>