<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Etiquetas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="errorMessage">
    <ion-label color="danger">{{ errorMessage }}</ion-label>
  </ion-item>

  <!-- Input para crear nuevas etiquetas -->
  <ion-item>
    <ion-input placeholder="Nueva etiqueta" [(ngModel)]="newTagName" name="newTagName"></ion-input>
    <ion-button slot="end" (click)="createTag()" [disabled]="!newTagName.trim()">
      Añadir
    </ion-button>
  </ion-item>

  <!-- Listado de etiquetas -->
  <ion-list>
    <ion-item *ngFor="let tag of tags">
      <ion-input [(ngModel)]="tag.tag_name" (ionBlur)="updateTag(tag)" name="tag_{{tag.id_tag}}"></ion-input>
      <ion-button fill="clear" color="danger" slot="end" (click)="deleteTag(tag)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>