<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Preferencias</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Número de elementos a mostrar</ion-label>
    </ion-item>
    <ion-item>
      <ion-segment
        [(ngModel)]="user.settings!.numberType"
        (ionChange)="updateSettings()"
      >
        <ion-segment-button value="true">
          <ion-label>Días</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>Número de tareas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label>Número de tareas/días a mostrar</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input
              type="number"
              [(ngModel)]="user.settings!.numberOfTaskToShow"
              (ionChange)="updateSettings()"
              placeholder="Ingrese el número"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>Mostrar listado completo</ion-label>
      <ion-toggle
        [(ngModel)]="user.settings!.showAllOpen"
        (ionChange)="updateSettings()"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Orden proyectos</ion-label>
      <ion-select
        [(ngModel)]="user.settings!.projectOrder"
        (ionChange)="updateSettings()"
      >
        <ion-select-option value="name">Por Nombre</ion-select-option>
        <ion-select-option value="date">Por Fecha</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label> Mostrar descripción </ion-label>
      <ion-toggle
        [(ngModel)]="user.settings!.showDescription"
        (ionChange)="updateSettings()"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Etiquetas </ion-label>
      <ion-button expand="block" (click)="openLabelsModal()">
        <ion-icon name="pricetags-outline"></ion-icon>
        &nbsp; Ver y editar
      </ion-button>
    </ion-item>

    <ion-list-header>
      <ion-label>Cuenta de usuario</ion-label>
    </ion-list-header>

    <!-- Información del Usuario -->
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-text>{{ user.username }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ user.email }}</ion-text>
    </ion-item>

    <!-- Cambiar contraseña -->
    <ion-item>
      <ion-label position="stacked">Cambiar contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="newPassword"
        placeholder="Nueva contraseña"
      ></ion-input>
      <ion-button expand="block" (click)="updatePassword()">Guardar</ion-button>
    </ion-item>

    <!-- Borrar usuario -->
    <ion-list-header>
      <ion-label>Borrar usuario</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Estoy seguro de lo que hago</ion-label>
      <ion-toggle [(ngModel)]="deleteToggle"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button
        expand="block"
        color="danger"
        [disabled]="!deleteToggle"
        (click)="deleteUser()"
      >
        Eliminar usuario
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
