<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header>
    <ion-label>Generales</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Orden proyectos</ion-label>
    <ion-select [(ngModel)]="user.settings!.projectOrder" name="projectOrder" (ionChange)="updateSettings()">
      <ion-select-option value="asc">Ascendentes</ion-select-option>
      <ion-select-option value="desc">Descendentes</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label> Etiquetas </ion-label>
    <ion-button expand="block" (click)="openLabelsModal()">
      <ion-icon name="pricetags-outline"></ion-icon>
      &nbsp; Ver y editar
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Preferencias FOCUS</ion-label>
    </ion-list-header>

    <ion-item lines="full">
      <ion-label>Usar número de
        <b>{{ user.settings.numberType ? 'días' : 'tareas' }}</b>
      </ion-label>
      <ion-toggle name="numberType" [(ngModel)]="user.settings!.numberType" (ionChange)="updateSettings()"></ion-toggle>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Número de <b>{{ user.settings.numberType ? 'días' : 'tareas' }}</b> a
        mostrar</ion-label>
      <ion-input name="numberOfTaskToShow" type="number" min="1" max="100" step="1"
        [(ngModel)]="user.settings!.numberOfTaskToShow" (ionChange)="updateSettings()"
        placeholder="Ingrese el número"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mostrar tareas completadas</ion-label>
      <ion-toggle name="showCompleted" [(ngModel)]="user.settings!.showCompleted"
        (ionChange)="updateSettings()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mostrar listado completo</ion-label>
      <ion-toggle name="showAllOpen" [(ngModel)]="user.settings!.showAllOpen"
        (ionChange)="updateSettings()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> Mostrar descripción </ion-label>
      <ion-toggle name="showDescription" [(ngModel)]="user.settings!.showDescription"
        (ionChange)="updateSettings()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>