<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar Fechas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Fecha de Inicio -->
    <ion-item>
      <ion-label position="stacked">Fecha de Inicio</ion-label>
      <ion-input
        type="date"
        [(ngModel)]="externalStartDate"
        (ionChange)="updateDini()"
      ></ion-input>
      <ion-select [(ngModel)]="startTime" (ionChange)="updateDini()">
        <ion-select-option *ngFor="let time of availableTimes" [value]="time">
          {{ time }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Fecha de Fin -->
    <ion-item>
      <ion-label position="stacked">Fecha de Fin</ion-label>
      <ion-input
        type="date"
        [(ngModel)]="externalEndDate"
        (ionChange)="updateDfin()"
      ></ion-input>
      <ion-select [(ngModel)]="endTime" (ionChange)="updateDfin()">
        <ion-select-option *ngFor="let time of availableTimes" [value]="time">
          {{ time }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button color="warning" position="end" (click)="clearDates()">
      <ion-icon name="backspace"></ion-icon>
    </ion-button>
    <ion-button expand="full" (click)="saveChanges()">Guardar</ion-button>
  </ion-footer>
</ion-content>
