<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>TO DO Focus</ion-card-title>
      <ion-card-subtitle>Welcome back</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form (submit)="login()" autocomplete="on">
        <ion-item lines="none">
          <ion-label position="stacked">Email</ion-label>
          <ion-input name="email" [(ngModel)]="userData.email" type="email" placeholder="Correo electrónico" required>
          </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input name="password" [(ngModel)]="userData.password" type="password" placeholder="Contraseña" required>
          </ion-input>
        </ion-item>
        <ion-button name="submit" shape="round" expand="block" type="submit" size="small">
          Acceder
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none" (click)="navigateToSignUp()">
    <div class="ion-text-center">
      <ion-label>¿No tienes cuenta? <strong class="ac">Registrate aquí</strong></ion-label>
    </div>
  </ion-item>

</ion-content>